openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'
spring:
  application:
    name: api-myrepresentatives
  main:
    banner-mode: 'off'
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
  flyway:
    enabled: false
integration:
  legalentity:
    whitelist: {}
