integration:
  party:
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:${wiremock.server.port:}/party
  legalentity:
    validation-enabled: true
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:${wiremock.server.port:}/legalentity
    whitelist:
      aa000001-0000-0000-0000-000000000001:
        - bb000001-0000-0000-0000-000000000001
      aa000002-0000-0000-0000-000000000002:
        - bb000002-0000-0000-0000-00000000000a
        - bb000002-0000-0000-0000-00000000000b
        - bb000002-0000-0000-0000-00000000000c
spring:
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:////
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: validate
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
  security:
    oauth2:
      client:
        provider:
          legalentity:
            token-uri: http://localhost:${wiremock.server.port:}/token
          party:
            token-uri: http://localhost:${wiremock.server.port:}/token
        registration:
          legalentity:
            client-id: override
            client-secret: override
            authorization-grant-type: client_credentials
          party:
            client-id: override
            client-secret: override
            authorization-grant-type: client_credentials
